*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 
}
a{
    text-decoration: none;
    color: blue;
}
h1{
    text-align: center;
}
a:hover{
    color: red;
}
.menu{
    display: none;
}
body{
    overflow: hidden;
}
nav{
    position: sticky;
    top: 0mm;
    z-index: 30;
    box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 8px 4px;
    width: 100%;
    padding: calc(.1vh + .1vw);
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
#greeting{
    margin: calc(.5vw + .5vh);
}
#greeting h1 span{
    color: red;
 }
#nav_links{
    display: flex;
    font-size: calc(1vw + 1.2vh);
    justify-content: end;
    margin-right: calc(.2vw + .2vh);
 }
 #nav_links a{
    margin: calc(.5vw + .5vh);
 }
 
 #contents{
    position: fixed;
    padding-top: 10px;
    overflow-y: scroll;
    scroll-snap-type: none;
    height: 100%;
    border: 1 px red solid;
 }
#contents::-webkit-scrollbar {
    width: 0px;
  }
 
 
 #about_me>div{
    /* border: 1px solid red; */
    margin-top: calc(1vh + 1vw);
    
 }
 #home h2{
    text-align: center;
    font-size: 30px;
 }
 #home h3{
    text-align: center;
 }
 #home h1 span, #home h3 span{
    color: red;
 }
 .wel{
    font-size: 70px;
 }

 #about_me>div {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 8px 4px;
 }
 #about_me>div>div:first-child {
    margin: auto;
   /* border: 1px solid red; */
  
 }
 #about_me div img{
    width: calc(14vw + 8vh);
    border-radius: 50%;
    /* border: 1px solid red; */
 }
 #abco{
    display: grid;
    /* flex-direction: column; */
    align-items: center;
    /* justify-items: center; */
    /* border: 1px solid red; */
 }
 #about_content{
    line-height: 30px;
    font-size: calc(1vh + 2 wh);
    padding: 5px;
    
   
 }
 #about_content div{
    display: grid;
    margin: 5px 0px;
    width: 100%;
    
   
 }
 #about_content div  div{
    text-align: center;
    width: 100%;
    transition: background-color 1s ease;
   box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 8px 4px;
   

 }
 #about_content div  div:hover{
    
   background-color: rgb(216, 216, 233);

 }

 #skills, #contact, #projects{
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    /* box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 2px 2px; */
    justify-content: center;
 }
 #skills div, #contact div{
    width: 200px;
    height: 200px;
    box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 2px 1px;
 }
 #skills div img, #contact div img{
    width: 200px;
    height: 200px;
 }

 #contact{
    margin-bottom: 80px;
 }


 #projects>div{
    padding: 5px;
    /* width: 350px; */
    text-align: center;
    box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 8px 4px;
 }
 
 #projects>div>div:last-child{
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 5px;
    transition: background-color 1s ease;
 }
 #projects>div>div:last-child div{
    box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 8px 4px;
    width: 110px;
    padding: 10px 0px;
 }
 #projects>div>div a:hover{
    background-color: rgb(216, 216, 233);

 }
 

@media screen and  (max-width:768px) {
    #nav_links{
        font-size: calc(2vw + 1.5vh);
     }
     #about_me>div{
        display: flex;
        flex-wrap: wrap;
     }
}

@media screen  and (max-width:480px) {
    nav{
        display: grid;
        grid-template:'. .'
        'links links';
    }
    #nav_links{
        grid-area: links;
    }
    #menu_label{
        display: grid;
        margin: calc(.5vw + .5vh);
        box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 8px 4px; 
        /* width: calc(15vw + 1vh); */
        text-align: center;
        padding: calc(1vh + .5vw);
        font-size: calc(5vh);
        font-weight: bold;
        box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 8px 4px;
        align-items: center;
    }
    #nav .nav_links_visible{
        display: none;
    } 
    #nav_links{
        font-size: calc(5vh);
        display: block;
    }
    #nav_links a{
        display: block;
        box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 8px 4px;
        margin: calc(1vh) 0px;
        width: 100%;
        padding: calc(1vh);
        text-align: center;
    }
    
   
     #projects>div>div:last-child div{
        box-shadow: rgba(41, 38, 38, 0.2) 0px 2px 8px 4px;
        width: calc(11vw + 11vh);
        padding: 10px 0px;
        font-size: calc(1vw + 2vh);
     }
     .wel{
        font-size: calc(10vw + 9vh);
     }
     #greeting, #menu_label{
        font-size: calc(2vw + 2vh);
        display: grid;
        align-items: center;
    }
     
} 
